[Unit]
Description=Home Theather PC
Documentation=man:systemd.special(7)
Requires=multi-user.target
Conflicts=rescue.service rescue.target getty@tty1.service
After=basic.target rescue.service rescue.target
Wants=kodi.service
AllowIsolate=yes
